a {
    color: #0c2659;
    text-decoration: none;
}
.navbar-default {
    background: none;
    border: none;
}

.modal-dialog {
    width: 1000px;
    margin: 120px auto;
}


.title {
    color: #0c2659;
    font-weight: 600;
    font-size: 30px;
    margin: 0px;
}
table {
    border-collapse: separate;
    empty-cells: hide;
}
.title-description{
	font-size: 18px; 
	margin: 0px;
}
.nav-tabs {
    border-bottom: 1px solid #0c2659;
    text-align: center;
    /*max-width: 800px;*/
    margin: 0px auto;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #0c2659;
    border-bottom-color: transparent;
}
.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #0c2659;
    color: #ffffff;
}

.modal-body {
    position: relative;
    padding: 20px;
}