/* ------------------------------------------
	Page Style 
------------------------------------------ */

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: #3C4857;
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 0%;
}

a {
    color: #f55a4e;
    text-decoration: none;
}

a:hover {
    color: #f55a4e;
    text-decoration: underline;
}

p {
    font-size: 13px;
    font-weight: 300;
    color: #3C4857;
    line-height: 18px;
}

b,
strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    color: #3C4857;
}

h1, .h1 {
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}

h3, .h3 {
    font-size: 18px;
    line-height: 1.4;
    margin: 20px 0 0px;
    color: #fff;
    font-weight: 600;
}

.title {
    font-size: 21px;
    color: #f55a4e;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title-description {
    margin: 10px 0;
    color: #3C4857;
}

.title-description a {
    color: #f55a4e;
}

.page-header {
    min-height: 80vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

/* ============ Bootstrap Navigation Bar =========== */

.nav li {
    color: #fff;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.navbar-default {
    background-color: #f55a4e;
    border: none;
}

.navbar-nav {
        padding: 0px 15px;
}

.navbar-brand {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.navbar-fixed-top {
    top: 30px;
    border-width: 0 0 1px;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #fff;
    outline: none !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background: #dc5146;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: #dc5146;
    outline: none !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    outline: none !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}